body {
    background-color: black;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    display: flex;
    padding: 3%;
}

/* The left and right columns of the page */
.pageColumn {
    display: flex;
    flex-basis: 50%;
}

.pageColumnRight {
    text-align: end
}

.pageColumnLeft {
    text-align: start;
}


/* Each individual feature like the clock, calendar, etc. */
.featureItem {
    flex-basis: 10%;
    padding-bottom: 5%
}

#rightSide {
    flex-basis: 50%;
    flex-direction: column;
}

#leftSide {
    flex-direction: column;
}

#clockTime {
    font-size: 7rem;
}

#clockDate {
    font-size: 3rem;
}

/* #clockDate, #clockTime {
    width: 50%;
    background-color: orange;
    padding: 0%;
    margin: 0%;
} */

#weather {}

#temp {
    font-size: 7rem;
}

#calendar {}

.event {}

#toDoList {}